@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

 /* BRAND */ 

#brand-logo {
    width: 3rem;
    height: 3rem;
    transition: 400ms ease-in-out;
}

#brand-logo:hover {
    transform: scale(1.3) rotate(360deg);
    transition: 1000ms ease-in-out;
}

/* NAVBAR */

.navbar {
    background-color: #4B4B4B !important;
    font-size: 1.3rem;
    border-bottom: 0.5rem solid #92C67D;
    opacity: 0.9;
}

.navbar a {
    font-size: 1.5rem;
    color: #92C67D !important;
    font-family: Fjalla One;
}

.navbar-collapse a {
    color: #92C67D !important;
    font-family: Fjalla One;
    border-bottom: 1px solid transparent;    
    transition: 500ms ease-in-out;
}

.navbar-collapse a:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
}

.navbar-brand:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
} 

 /* BANNER CAROUSEL */ 

 .carousel-item img{
  height: 100vh;
}

.row img:not(.kartice) {
    padding-bottom: 40%;
}

 /* ANIMATIONS */ 

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media (max-width: 991px){
  .row img:not(.kartice) {
    padding-bottom: 20% !important;
  } 

  #logo {
    max-width: 15rem;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
  }
}

@media (min-width: 992px){
  #logo {
    max-width: 15rem;
    padding: 0 !important;
  }
}

/* MEET THE TEAM */ 

.kartica {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  border-radius: 16%;
}

.team img {
  filter: grayscale(00%);  
  transition: 600ms ease-in-out;
}

.team img:hover {
  filter: grayscale(0);
  transition: 400ms ease-in-out;
}

.teamSlike img {
	position: relative;
}

.overlay:hover {
	opacity: 1;
	transition: .5s ease-in-out;
}

.overlay  > p {
	transform: translateY(50px);
	transition: transform 0.5s;
}

.overlay:hover  > p {
	transform: translateY(0px);
	transition: transform 0.5s;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	background-color: rgba(0,0,0,.6);
	opacity: 0;
	transition: .5s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	z-index: 998;
}

.card-body {
	z-index: 999 !important;
	background-color: #ffffff;
}

.overlay p {
	font-size: 2rem;
}

/* FOOTER */ 

footer {
	font-family: sans-serif;
}

footer a {
  font-size: 1rem;
}

footer a:hover{
  text-decoration: none;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* WHAT IS VUE */

#vue {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

#about {
  font-family: 'Benne', serif;
  font-size: large;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

#about h1 {
	font-family: Fjalla One;
}

/* MEET THE VUE TEAM */

.animatedText {
	position: absolute;
	font-family: sans-serif;
	box-shadow: 0 10px 10px rgba(0,0,0,0,2);
}

.animatedText span {
	position: relative;
	display: inline-block;
	animation: animate 3s linear infinite;
}

@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-30px);
	}
	15% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-20px);
	}
	30% {
		transform: translateY(0px);
	}
	40% {
		transform: translateY(-10px);
	}
	45% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
} 

.animatedText span:nth-child(1) {
	animation-delay: 0s;
}
.animatedText span:nth-child(2) {
	animation-delay: 0.1s;
}
.animatedText span:nth-child(3) {
	animation-delay: 0.2s;
}
.animatedText span:nth-child(4) {
	animation-delay: 0.3s;
}
.animatedText span:nth-child(5) {
	animation-delay: 0.4s;
}
.animatedText span:nth-child(6) {
	animation-delay: .5s;
}
.animatedText span:nth-child(7) {
	animation-delay: .6s;
}
.animatedText span:nth-child(8) {
	animation-delay: .7s;
}
.animatedText span:nth-child(9) {
	animation-delay: .8s;
}
.animatedText span:nth-child(10) {
	animation-delay: .9s;
}
.animatedText span:nth-child(11) {
	animation-delay: 1s;
}
.animatedText span:nth-child(12) {
	animation-delay: 1.1s;
}
.animatedText span:nth-child(13) {
	animation-delay: 1.2s;
}
.animatedText span:nth-child(14) {
	animation-delay: 1.3s;
}
.animatedText span:nth-child(15) {
	animation-delay: 1.4s;
}
.animatedText span:nth-child(16) {
	animation-delay: 1.5s;
}
.animatedText span:nth-child(17) {
	animation-delay: 1.6s;
}

@media (max-width: 767px) {
	#firstCard { 
	  margin-top: 30px !important;
	}
}